:root {
    --mergin-top-bar: 100px;
}
#top-bar {
    position: fixed;
    top: 0;
    height: var(--mergin-top-bar);
    width: 100%;
    display: flex; /* Use flexbox to align them horizontally */
    justify-content: space-between; /* Use flexbox to align them at both ends */
    align-items: center; /* Vertically center-aligned */
    background-color: #333;
    padding: 0 10px;     /* user-select: none; */
}

#title,
#summary {
    flex: 1; /* Distribute the width evenly across each element */
    height: var(--mergin-top-bar);
    color: white;
    background-color: #333;
    text-align: left;
    overflow: hidden; /* Hide the overflowing content */
    white-space: normal; /* Allow text wrapping */
    word-wrap: break-word; /* Allow word breaking */
}

#title {
    font-size: 18px;
    font-weight: bold;
    max-width: 48%; /* Set the maximum width */
}

#summary {
    font-size: 14px;
    max-width: 48%; /* Set the maximum width */
}

#result {
    width: 300px;
    height: 100vh;
    background-color: #f9f9f9;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top:var(--mergin-top-bar);
}

#categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.category {
    width: 80%;
    margin: 20px 0;
}

.category h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    user-select:none;
}

.news-grid {
    display: flex;
    gap: 10px;
    overflow-x: visible;
    white-space: nowrap
}

.news-item {
    min-width: 200px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    user-select:none;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-item h3 {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

*:focus {
    outline: none;
}
	       
.focused {
    border: 3px solid blue !important;  /* Add !important to prevent overrides */
    background-color: rgba(0, 0, 255, 0.2); /* Change the background color to blue when focused */
    outline: 3px solid blue; /* Add an `outline` to improve visibility */
}
