<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Categories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!-- Container to display the title and summary at the top of the screen -->
  <header id="top-bar">
    <div id="title">Title:</div>
    <div id="summary">Summary:</div>
  </header>
    
  <div id="categories-container"></div>
  <div id="news-detail-container" style="display:none;"></div>

  <div id="result">
    <h2>Word Meaning</h2>
    <div id="definition">Select a word to see the meaning.</div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
